In [1]:
# import required libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# read dataset
cb = pd.read_csv('./CarPrice_Assignment.csv')
print('Dataset Loaded Successfully..')

Dataset Loaded Successfully..

In [3]:
cb.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
cb = cb.drop(['car_ID','symboling','symboling','CarName','fueltype','aspiration','doornumber','carbody','drivewheel','enginelocation','fuelsystem','boreratio','stroke','compressionratio','peakrpm','citympg','highwaympg'], axis = 1)

In [5]:
cb.shape

(205, 10)

In [6]:
cb.isnull().sum()

wheelbase         0
carlength         0
carwidth          0
carheight         0
curbweight        0
enginetype        0
cylindernumber    0
enginesize        0
horsepower        0
price             0
dtype: int64

In [7]:
cb.describe()

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,horsepower,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,104.117073,13276.710571
std,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,39.544167,7988.852332
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,48.000000,5118.000000
25%,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,70.000000,7788.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,95.000000,10295.000000
75%,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,116.000000,16503.000000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,288.000000,45400.000000

In [8]:
cb.dtypes

wheelbase         float64
carlength         float64
carwidth          float64
carheight         float64
curbweight          int64
enginetype         object
cylindernumber     object
enginesize          int64
horsepower          int64
price             float64
dtype: object

In [9]:
x = cb.drop(['price','cylindernumber','enginetype'], axis = 1)
y = cb['price']

In [10]:
cb.wheelbase = cb.wheelbase.astype('int64')
cb.carlength = cb.carlength.astype('int64')
cb.carwidth = cb.carwidth.astype('int64')
cb.carheigth = cb.carheight.astype('int64')

C:\Users\asswin.cb\AppData\Local\Temp/ipykernel_2188/2518868427.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  cb.carheigth = cb.carheight.astype('int64')

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x, y, random_state = 0)

In [12]:
x

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,horsepower
0,88.6,168.8,64.1,48.8,2548,130,111
1,88.6,168.8,64.1,48.8,2548,130,111
2,94.5,171.2,65.5,52.4,2823,152,154
3,99.8,176.6,66.2,54.3,2337,109,102
4,99.4,176.6,66.4,54.3,2824,136,115
...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,55.5,2952,141,114
201,109.1,188.8,68.8,55.5,3049,141,160
202,109.1,188.8,68.9,55.5,3012,173,134
203,109.1,188.8,68.9,55.5,3217,145,106
204,109.1,188.8,68.9,55.5,3062,141,114

In [13]:
from sklearn.linear_model import LinearRegression
CB = LinearRegression()
print('Model Build successfully')

Model Build successfully

In [14]:
CB.fit(X_train,y_train)

LinearRegression()

In [15]:
y_pred = CB.predict(X_test)

In [16]:

from sklearn import metrics

print('R2_Score :',metrics.r2_score(y_test,y_pred))

R2_Score : 0.8202516877961696

In [17]:
import pickle as pkl

In [18]:
with open('model3_pkl', 'wb') as files:
    pkl.dump(CB, files)